@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmaiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bVmaiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmaiA8.ttf) format('truetype');
}
/* Body and structure
-------------------------------------------------- */
@font-face {
  font-family: "bahnhof_regularregular";
  src: url("../font/bahnhofregular-webfont.eot");
  src: url("../font/bahnhofregular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/bahnhofregular-webfont.woff") format("woff"), url("../font/bahnhofregular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tusarregular";
  src: url("../font/tusar-webfont.eot");
  src: url("../font/tusar-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tusar-webfont.woff") format("woff"), url("../font/tusar-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none !important;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Global
---------------------------------------- */
.btn {
  background: #e6e6e6;
  border-radius: 0;
  padding: 7px 15px;
  border: 0;
}
.btn:hover {
  background: #d9d9d9;
}
input,
textarea {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 10px !important;
}
select {
  border-radius: 0 !important;
  box-shadow: none !important;
}
a {
  color: #00529f;
}
p.claim {
  color: #00529f;
  text-align: center;
  border-top: 1px dotted #e6e6e6;
  border-bottom: 1px dotted #e6e6e6;
  padding: 10px;
  margin: 10px 0;
}
p a.pull-left {
  margin-right: 10px !important;
}
/* Main styles
---------------------------------------- */
.img-center {
  display: block;
  margin: auto;
}
body {
  position: relative;
  padding-top: 70px;
  font: 87%/1.5 "Roboto", Arial, Helvetica, sans-serif;
  color: #6a6a6a;
  /* Navigation
  -------------------------------------------------- */
  /* Header
  -------------------------------------------------- */
  /* Slider
  -------------------------------------------------- */
  /* Body
  -------------------------------------------------- */
  /* Footer
  -------------------------------------------------- */
}
body h1,
body h2,
body h3,
body h4,
body legend {
  font-family: "bahnhof_regularregular";
  letter-spacing: -1px;
  font-weight: normal;
  color: #104aa4;
}
body .navbar .navbar-inner {
  background: #00529f;
  border: 0;
}
body .navbar .navbar-inner .brand {
  margin: 0;
  padding: 15px;
}
body .navbar .navbar-inner .nav > li > a:focus,
body .navbar .navbar-inner .nav .navbar .nav > li > a:hover {
  color: #ffffff;
}
body .navbar .navbar-inner .nav > li.selected a {
  color: #ffffff;
  background: #005fb9 !important;
  border-bottom: 4px solid #e6e4e1;
  margin-bottom: 0px;
}
body .navbar .navbar-inner .nav > li > a {
  color: #ffffff;
  text-shadow: none;
  text-transform: uppercase;
  padding: 19px 12px;
  font-family: "bahnhof_regularregular";
  margin-bottom: 4px;
  font-size: 14px;
}
body .navbar .navbar-inner .nav > li > a:hover {
  color: #00529f;
  background: #ffffff !important;
  border-bottom: 4px solid #a1988d;
  margin-bottom: 0px;
}
body .navbar .navbar-inner .nav > .active > a {
  color: #ffffff;
  background: transparent !important;
  box-shadow: none;
  border-bottom: 4px solid #a1988d;
  margin-bottom: 0px;
}
body .navbar .navbar-inner .nav > .active > a:hover {
  color: #00529f;
  background: #ffffff !important;
  border-top: 0 solid #a1988d;
}
body #overview {
  height: 110px;
}
body #overview img {
  margin-top: 10px;
}
body #overview img.headertext {
  position: relative;
  top: 20px;
}
body .slider .barArrow {
  cursor: pointer;
  position: absolute;
  z-index: 2;
}
body .slider #rightBarArrow {
  background: url("/theme/pensionrut/img/barRight.png") no-repeat scroll 0 0 transparent;
  height: 72px;
  right: 30px;
  margin-top: 114px;
  width: 73px;
}
body .slider #leftBarArrow {
  background: url("/theme/pensionrut/img/barLeft.png") no-repeat scroll 0 0 transparent;
  height: 72px;
  left: 30px;
  margin-top: 114px;
  width: 73px;
}
body .slider #barContent {
  height: 366px;
  overflow: hidden;
  position: relative;
}
body .slider #barContent > div {
  background: none repeat scroll 0 0 #333333;
  cursor: pointer;
  float: left;
  height: 366px;
  position: relative;
  width: 510px;
}
body #body {
  background-color: #f5f5f5;
  /* Pricelist
    ---------------------------------------- */
  /* Map contacts
    -------------------------------------------- */
  /* Contact form
    -------------------------------------------- */
  /* Weather form
    -------------------------------------------- */
  /* Gallery photos
    -------------------------------------------- */
}
body #body .container {
  background-color: #ffffff;
  padding: 5px;
  padding-bottom: 60px;
}
body #body .container h1 small {
  font-size: 22px;
}
body #body .container div.row-fluid [class*="span"] {
  padding: 5px 10px 5px 15px;
}
body #body .container div.row-fluid [class*="span"] img {
  padding: 4px;
}
body #body .container div.row-fluid [class*="span"] img.pull-left {
  margin-right: 6px;
}
body #body .container div.row-fluid [class*="span"] img.pull-right {
  margin-left: 6px;
}
body #body .container .span4 h3 {
  margin: 0px;
}
body #body .container .span4 .media {
  border-bottom: 1px dotted #999999;
}
body #body .pricelist.first-row .span6 {
  height: 320px;
}
body #body .pricelist.first-row .span6 ul {
  height: 110px;
}
body #body .pricelist.last-row .span6 ul {
  height: 150px;
}
body #body .pricelist.last-row .span6:last-child ul {
  height: 190px;
}
body #body .mapcliping {
  margin-bottom: 10px;
}
body #body .mapcliping img {
  max-width: none;
}
body #body #form-1 .input.textarea {
  clear: both;
  margin-left: 10px;
  width: 100%;
}
body #body #form-1 .input.textarea textarea {
  width: 90%;
}
body #body #form-1 .input.text {
  width: 30%;
  float: left;
  margin-left: 10px;
}
body #body #form-1 .input.text input {
  width: 90%;
}
body #body #form-1 .input.text:last-child {
  *zoom: 1;
}
body #body #form-1 .input.text:last-child:before,
body #body #form-1 .input.text:last-child:after {
  display: table;
  line-height: 0;
  content: "";
}
body #body #form-1 .input.text:last-child:after {
  clear: both;
}
body #body #form-1 .input input,
body #body #form-1 .input textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
}
body #body #form-1 .input input:focus,
body #body #form-1 .input textarea:focus {
  border-color: #0079ec;
}
body #body #form-1 .submit input {
  margin-left: 10px;
  background: #00529f;
}
body #body #form-2 .input.textarea {
  clear: both;
  margin-left: 10px;
  width: 100%;
}
body #body #form-2 .input.textarea textarea {
  width: 90%;
}
body #body #form-2 .input.text {
  width: 47%;
  float: left;
  margin-left: 10px;
}
body #body #form-2 .input.text input {
  width: 90%;
}
body #body #form-2 .input.text:last-child {
  *zoom: 1;
}
body #body #form-2 .input.text:last-child:before,
body #body #form-2 .input.text:last-child:after {
  display: table;
  line-height: 0;
  content: "";
}
body #body #form-2 .input.text:last-child:after {
  clear: both;
}
body #body #form-2 .input input,
body #body #form-2 .input textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
}
body #body #form-2 .input input:focus,
body #body #form-2 .input textarea:focus {
  border-color: #0079ec;
}
body #body #form-2 h3 {
  color: #00529f;
}
body #body #form-1 .submit input,
body #body #form-2 .submit input {
  margin-left: 10px;
  background: #00529f;
  border: 0;
  color: #ffffff;
  text-shadow: none;
}
body #body #weather {
  margin: 0;
}
body #body #weather .weatherIcon {
  float: left;
  margin: 0 8px;
  text-align: center;
}
body #body .weather_info {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
body #body .weather_info .weather-col {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #body .weather_info .weather-col img {
  width: 80px;
  height: 80px;
  margin: 0 auto 5px;
}
body #body .weather_info .weather-col .date {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
body #body .weather_info .weather-col .date strong {
  display: block;
  line-height: 1.2;
}
body #body .weather_info .weather-col .info {
  display: flex;
  flex-direction: column;
}
body #body .weather_info .weather-col .info span {
  display: block;
  line-height: 1.3;
}
body #body .galleryPhoto {
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: inline-block;
  line-height: 20px;
  transition: all 0.2s ease-in-out 0s;
  margin: 5px;
}
body #body .galleryPhoto:hover {
  border: 1px solid #00529f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}
body footer {
  background-color: #00529f;
  font-family: "bahnhof_regularregular";
}
body footer .container {
  text-align: center;
  padding: 10px 5px;
}
body footer .container .row-fluid {
  text-transform: uppercase;
  font-size: 11px;
}
body footer .container .row-fluid .span8 {
  min-height: auto;
  text-align: left;
  padding: 5px 10px;
}
body footer .container .row-fluid .span4 {
  min-height: auto;
  text-align: right;
  padding: 5px 10px;
}
body footer .container ul {
  margin: 0;
}
body footer .container ul li {
  display: inline;
  padding: 0 2px;
}
body footer .container p {
  margin-bottom: 0;
  color: #ffffff;
}
body footer .container a {
  color: #fefefe;
  text-shadow: 0 1px 0 #333333;
}
/* Slider
---------------------------------------- */
.iosSlider {
  width: 100%;
  height: 300px;
}
.iosSlider .islider {
  width: 100%;
  height: 100%;
}
.iosSlider .islider .item {
  float: left;
  width: 475px;
}
.iosSlider .islider .item img {
  width: 100%;
  height: 340px;
}
.caption {
  bottom: 40px;
  left: 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
.caption span {
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}
.caption span strong {
  font-family: "bahnhof_regularregular";
  font-size: 25px;
  font-weight: normal;
}
.caption span a {
  color: #ffffff;
}
.caption .bg {
  background: none repeat scroll 0 0 #000000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.unselectable {
  opacity: 0.2;
}
.novinky {
  margin-bottom: 20px;
}
.novinky .media-body {
  margin-bottom: 7px;
}
.novinky .btn {
  margin-top: 10px;
}
/* Galerie backdrop override
---------------------------------------- */
.goverlay {
  background: rgba(0, 0, 0, 0.75) !important;
}
/* Remove body padding on mobile devices
---------------------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #body .container {
    padding: 5px !important;
  }
  #body .container div.row-fluid [class*="span"] {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
