---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="body">
    <div class="container">
      <div class="row-fluid">
        <div class="span8">
          <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka </a> / <a href="/cenik">Ceník</a></div>

<div class="contents ">
		<h2>Ceník ubytování</h2>
		<p class="claim">Ceny ubytování včetně snídaně (formou švédských stolů). <br /> Během letní sezony k dispozici i večeře z domácí kuchyně.</p>
<div class="row-fluid pricelist first-row">
<div class="span6">
<h3>Dvoulůžkový pokoj</h3>
<ul>
<li>2 osoby</li>
<li>Možnost přistýlky</li>
<li>Snídaně v ceně</li>
<li>Připojení k internetu</li>
</ul>
<hr />
<h4>Cena od 2500,- Kč</h4>
</div>
<div class="span6">
<h3>Apartmán</h3>
<ul>
<li>Až 4 osoby</li>
<li>Možnost přistýlky</li>
<li>Snídaně v ceně</li>
<li>Připojení k internetu</li>
<li>Balkon s výhledem na jezero</li>
<li>Dvě dveřmi propojené ložnice</li>
</ul>
<div class="book">
<hr />
<h4>Cena od 3500,- Kč</h4>
</div>
</div>
</div>
<!--
<div class="row-fluid pricelist last-row">
<div class="span6">
<h3><span>Depandance</span> 1</h3>
<ul>
<li>Až 4 osoby</li>
<li>Snídaně v ceně</li>
<li>Připojení k internetu</li>
<li>Privátní vstup do apartmánu</li>
<li>Klidné prostředí</li>
<li>Výhled na jezero přes zahradu</li>
</ul>
<hr />
<h4>Cena od 2.500,- Kč</h4>
</div>
<div class="span6">
<h3><span>Depandance</span> 2</h3>
<ul>
<li>2 osoby</li>
<li>Možnost přistýlky</li>
<li>Snídaně v ceně</li>
<li>Připojení k internetu</li>
<li>Privátní vstup do apartmánu</li>
<li>Klidné prostředí</li>
<li>Výhled na jezero přes zahradu</li>
</ul>
<hr />
<h4>Cena od 1.500,- Kč</h4>
</div>
</div>
-->	</div>
<div>

</div>
        </div>

        <!-- Aktuality
          ============================== -->

          <div class="span4">
            <h3>Aktuality<small> od Máchova jezera</small></h3>
            <div style="height: 2px"></div>
            <!-- <behold-widget feed-id="gfHbECjUaFHjz0idR6y7"></behold-widget> -->
            <behold-widget feed-id="CvncMIYMk2n1PeSj4r20"></behold-widget>
            <div style="height: 5px"></div>
            <h3>Máchovo jezero <small>počasí
            </small></h3>
           <div class="weather_info">
	     <p class="weather-col"><img title="déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>čtvrtek</strong> <strong>23 říj</strong> </span><span class="info"><span>Min:&nbsp;8°C</span> <span>Max:&nbsp;16°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>pátek</strong> <strong>24 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;9°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>sobota</strong> <strong>25 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;8°C</span></span></p>
           </div>
	  </div>
        </div>
      </div>
    </div>
</Layout>