---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka</a> / <a href="/cenik">Ceník</a>
  </div>

  <div class="contents">
    <h2>Ceník ubytování</h2>
    <p class="claim">
      Ceny ubytování včetně snídaně (formou švédských stolů).<br />
      Během letní sezony k dispozici i večeře z domácí kuchyně.
    </p>
    <div class="row-fluid pricelist first-row">
      <div class="span6">
        <h3>Dvoulůžkový pokoj</h3>
        <ul>
          <li>2 osoby</li>
          <li>Možnost přistýlky</li>
          <li>Snídaně v ceně</li>
          <li>Připojení k internetu</li>
        </ul>
        <hr />
        <h4>Cena od 2500,- Kč</h4>
      </div>
      <div class="span6">
        <h3>Apartmán</h3>
        <ul>
          <li>Až 4 osoby</li>
          <li>Možnost přistýlky</li>
          <li>Snídaně v ceně</li>
          <li>Připojení k internetu</li>
          <li>Balkon s výhledem na jezero</li>
          <li>Dvě dveřmi propojené ložnice</li>
        </ul>
        <div class="book">
          <hr />
          <h4>Cena od 3500,- Kč</h4>
        </div>
      </div>
    </div>
  </div>
</Layout>
