---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="body">
    <div class="container">
      <div class="row-fluid">
        <div class="span8">
          <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka </a> / <a href="/historie">Historie</a></div>

<div class="contents ">
		<h2>Pension RUT - Historie</h2>
		<h3>Tady vyrůstal Miloš Forman</h3>
<p><a data-lightbox-gallery="gallery" class="galleryPhoto lightbox pull-left" href="/theme/pensionrut/img/uploads/thumb/large/personl_rok_1929.jpg"><img src="/theme/pensionrut/img/uploads/thumb/medium/personl_rok_1929.jpg" width="250" /></a> Staré Splavy – Anna a Rudolf Formanovi byli průkopníky turismu u Máchova jezera, postavili tu první český pension. Rodinný klenot na břehu jezera provozuje rodina Miloše Formana dodnes.</p>
<p>Pokoj číslo 16 v pensionu Rut ve výstavní ulici Lázeňský vrch ve Starých Splavech u Máchova jezera se dnes pronajímá hostům. Po roce 1945 měl ale výhradního obyvatele. Patřil tehdy třináctiletému Miloši Formanovi, budoucímu světoznámému režisérovi.<br /> Jeho starší bratři převzali ve Starých Splavech po rodičích pension Rut, první český pension u Máchova jezera. Krásnou stavbu, na jejímž příběhu lze dobře popsat šťastné i tragické události, které rodinu autora oscarových opusů potkaly.</p>
<p>Ale vraťme se o pár let zpátky. Je rok 1926. Na nádherném místě na břehu Máchova jezera stavějí vilu manželé Anna a Rudolf Formanovi. Je to jejich zamilované místo. Objevil ho Rudolf. Za války sloužil mimo jiné u pěšího pluku v České Lípě a v okolí Doks pak byl s armádou na manévrech. Úžasné místo ukázal své milé - Anně.</p>
<h3>Nejlepší místo</h3>
<p><a data-lightbox-gallery="gallery" class="galleryPhoto lightbox pull-left" href="/theme/pensionrut/img/uploads/thumb/large/Adamscan_046.jpg"><img src="/theme/pensionrut/img/uploads/thumb/medium/Adamscan_046.jpg" width="250" /></a> „Prababička byla velká vizionářka. Koupila tady jeden z prvních pozemků, takže si mohla vybrat opravdu nejlepší místo. V roce 1926 se začalo stavět. Postavila na břehu jezera rodinnou vilu a pak si řekla, že by se dala využít pro rekreaci," popisuje začátky rodinného podniku Adam Forman, pravnuk zakladatelů a vnuk Blahoslava Formana, nejstaršího z bratrů. Tak vznikl pension Rut, který na Lázeňském vrchu ve Starých Splavech u Máchova jezera, Formanovi vlastní dodnes.</p>
<p>Využít dům jako pension byl od Anny Formanové průkopnický krok. Staré Splavy se sice začaly oblíbeným letoviskem stávat už od počátku 20. století, ale slibný rozvoj pak přerušila první světová válka a k obnově docházelo až ve 20. letech.</p>
<p>Rekreační zařízení, která tu tehdy byla, byla německá. Pension Formanových byl prvním českým pensionem u dnešního Máchova jezera. „Byl to bezesporu největší podnik v životě mých rodičů. Pokojíky se pronajímaly na týden či na měsíc. Byla tu kancelář, jídelna a k hotýlku patřila i malá cukrárna. Dům se na zimu zavíral a sezona trvala pouze od června do září," popsal později ve své knize „Co já vím?“ Miloš Forman.</p>
<h3>První host roku 1932</h3>
<p><a data-lightbox-gallery="gallery" class="galleryPhoto lightbox pull-left" href="/theme/pensionrut/img/uploads/thumb/large/Adamscan007.jpg"><img src="/theme/pensionrut/img/uploads/thumb/medium/Adamscan007.jpg" width="250" /></a> Slavný režisér se narodil v roce 1932, když už byl pension vybudován. První zápis v návštěvní knize pensionu z toho roku zní: „První náš host v r. 1932 - náš Milošek. Mnoho štěstí!!!"</p>
<p>Od té doby vítal Miloš každou novou letní sezonu u Máchova jezera až do roku 1950. Vždy v květnu se Anna Formanová s malým Milošem vypravila do Starých Splavů, aby připravila pension na novou sezonu. Na začátku prázdnin pak za nimi dorazil i Rudolf se staršími syny.</p>
<p>Máchovu jezeru se v té době říkalo různě. V německém prostředí Dokeska se nejčastěji objevoval název Hiršperský rybník. To se Rudolfu Formanovi nelíbilo. „Otci ten název připadal moc fádní," zaznamenal ve svých vzpomínkách Miloš Forman. „Proto napsal článek do místních novin, v němž navrhoval, aby se jezero přejmenovalo podle slavného romantického básníka, pro něhož se stalo inspirací k jeho nejlepšímu dílu." A název Máchovo jezero se ujal.</p>
<h3>Přijeli i bratři Čapkové</h3>
<p>Pensionu Rut se v těch letech velmi dobře dařilo. „Stalo se z něj sídlo české inteligence, vlastenecké doupě. Sjížděla se sem spousta zajímavých lidí. Ve staré návštěvní knize, kterou uchováváme doma v Čáslavi, lze najít velká jména. Byli tu třeba bratři Čapkové, nebo třeba první členové tehdy nově založeného Ruského sboru Alexandrovců" vypráví Adam Forman, zástupce jedné z nejmladších generací rodu Formanů.</p>
<p>Později ale všechno začalo nabírat smutné až tragické obrátky. V roce 1938 postoupilo Československo v důsledku mnichovské dohody Německu pohraničí. Pension Formanových se rázem ocitl na německém území. O rok později začala válka.</p>
<p>„Za války bylo Máchovo jezero podivnou končinou. V Sudetech nezůstala jediná česká škola, takže jsem musel chodit do německé školy v Doksech," vzpomíná Miloš Forman.<br /> V roce 1940 zatklo gestapo jeho otce, který ilegálně působil v odbojové skupině. Věznili ho na mnoha místech, mimo jiné i v České Lípě. O dva roky později zatklo gestapo i Annu Formanovou a pension převzali Němci. V době bombardování Berlína se stal pension Rut útočištěm žen a dětí německých důstojníků.</p>
<h3>Po Němcích přišlo ROH</h3>
<p><a data-lightbox-gallery="gallery" class="galleryPhoto lightbox pull-left" href="/theme/pensionrut/img/uploads/thumb/large/rok_1926-0.jpg"><img src="/theme/pensionrut/img/uploads/thumb/medium/rok_1926-0.jpg" width="250" /></a> Rodiče bratrů Blahoslava, Pavla a Miloše byli posláni do koncentračních táborů. Z Osvětimi a Buchenwaldu se už nevrátili. Po válce tak museli bratři pokračovat ve snu svých rodičů sami. Dlouho to ale nevydrželo. V roce 1950 pension zabavilo ROH - Revoluční odborové hnutí - a z pensionu Rut se stala rekreačka.</p>
<p>Pension se Formanům vrátil až v roce 1991. Vzkříšení jeho slávy tehdy zařizovala především Boženka, žena nejstaršího z bratrů Formanových, který v roce 1960 tragicky zahynul v Tatrách při výstupu na Ďumbier. Boženku na dálku z Austrálie a USA podporovali Pavel a Miloš. „Strýček Pavel sem do Splavů jezdil jednou za rok. Miloš sem zavítá, kdykoliv je v Česku," říká o bratrech svého děda Adam Forman.</p>
<p style="text-align:right"><small>Autor textu: Michael Polak</small></p>
<p>Pavel Forman – akademický malíř, emigroval v roce 1968 se svoji rodinou do Austrálie, ve které se plně věnoval svému výtvarnému poslání a zapsal se jako jeden z nejvýzanmějších krajinářů ze školy Otakara Nejedlého. Jeho obrazy jsou zastoupeny v řadě světových sbírek a byly vystavovány po celém světě. Pension Rut je současně jeho obrazárnou. Pavel zemřel v Australském Brisbane v roce 2008. Více na <a href="http://pavelforman.com/" targe="_blank">www.pavelforman.com</a></p>
<p>Miloš Forman – nejmladší z bratrů zůstal ve Spojených státech poté co mu byl odepřen návrat do republiky v roce 1967. Poté následovala jeho úspěšná režisérská dráha v USA. Více na <a href="http://milosforman.com/" targe="_blank">www.milsoforman.com</a></p>	</div>
<div>

</div>
  <h2>Historické fotografie</h2>
  <div class="photoGallery">
          <a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan_046.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan_046.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan007.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan007.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/personl_rok_1929.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/personl_rok_1929.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/rok_1926-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/rok_1926-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan_038.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan_038.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan023.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan023.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan026.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan026.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan010.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan010.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan028.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan028.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan025.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan025.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan030.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan030.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan029.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan029.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan034.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan034.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan_051.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan_051.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan_053.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan_053.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan012.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan012.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan021.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan021.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/Adamscan019.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/Adamscan019.jpg" alt="" /></a>  </div>
          </div>

        <!-- Aktuality
          ============================== -->

          <div class="span4">
            <h3>Aktuality<small> od Máchova jezera</small></h3>
            <div style="height: 2px"></div>
            <!-- <behold-widget feed-id="gfHbECjUaFHjz0idR6y7"></behold-widget> -->
            <behold-widget feed-id="CvncMIYMk2n1PeSj4r20"></behold-widget>
            <div style="height: 5px"></div>
            <h3>Máchovo jezero <small>počasí
            </small></h3>
           <div class="weather_info">
	     <p class="weather-col"><img title="déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>čtvrtek</strong> <strong>23 říj</strong> </span><span class="info"><span>Min:&nbsp;8°C</span> <span>Max:&nbsp;16°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>pátek</strong> <strong>24 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;9°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>sobota</strong> <strong>25 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;8°C</span></span></p>
           </div>
	  </div>
        </div>
      </div>
    </div>
</Layout>