---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <!-- Content
  ============================== -->
  <div id="body">
    <div class="container">
      <div class="row-fluid">
        <div class="span8">
          <div id="crumbs">

    Právě se nacházíte: <a href="/">Hlavní stánka </a></div>
<div class="contents ">
		<h2>Pension RUT</h2>
		<p><a data-lightbox-gallery="gallery-profile" class="galleryPhoto lightbox pull-left" href="/theme/pensionrut/img/uploads/thumb/large/adamnaweb.jpg?v1"><img width="130" src="/theme/pensionrut/img/uploads/thumb/medium/adamnaweb.jpg?v1" /></a> Pension Rut, pro mne místo setkávání generací. A to nejen našich hostů, ale i naší rodiny. V roce 1926 tento dům postavili moji praprarodiče. Vychovali tu své tři syny, aby i ti se sem mohli vracet se svými dětmi. A já tu také vyrostl. Možná srostl. A je pro mne ctí spravovat tento dům a vítat tu již jako čtvrtá generace naše hosty.</p>
<p>Je to genius loci spíš než cokoliv jiného. Výhledy a příroda s osobitým charakterem. Je to východ slunce nad protějším břehem i večery na baru na terase nad jezerem. Jsou to hvězdy nad hladinou a vůně borovic. Je to klid jen kousek od Prahy. Oáza uprostřed turistického místa. Jsem hrdý, že tu můžu být a že se o to mohu podělit.</p>
<p class="pull-right">Adam Forman</p>
<div class="clearfix"></div>	</div>
<div>

</div>
<div class="contents ">
		<div class="clearfix"></div>
<hr />
<div class="row-fluid">
<div class="span6"><a data-lightbox-gallery="gallery" class="galleryPhoto" href="/ubytovani"> <img width="250" src="/theme/pensionrut/img/ubytovani.jpg" /> </a>
<h4><a href="/ubytovani"> Pension RUT - ubytování </a></h4>
<p>Pension se nachází v lázeňském městečku Staré Splavy, které jsou známé ozdravným vzduchem. Jedinečnost objektu je mimo jiné dána jeho romantickým umístěním nad Máchovým jezerem...</p>
</div>
<div class="span6"><a data-lightbox-gallery="gallery" class="galleryPhoto" href="/okoli"> <img width="250" src="/theme/pensionrut/img/okoli.jpg" /> </a>
<h4><a href="/okoli"> Pension RUT - okolí </a></h4>
<p>Idylická krajina Máchova jezera nabízí pěší procházky, túry, cyklistické trasy a výlety do zajímavých destinací – hrady Bezděz, Houska a Kokořín, zřícenina Ralsko...</p>
</div>
</div>
<div class="row-fluid">
<div class="span6"><a data-lightbox-gallery="gallery" class="galleryPhoto" href="/historie"> <img width="250" src="/theme/pensionrut/img/historie.jpg" /> </a>
<h4><a href="/historie"> Pension RUT - historie </a></h4>
<p>Staré Splavy - Rodiče slavného režiséra byli průkopníky turismu u Máchova jezera, postavili tu první český pension. Rodinný klenot na břehu jezera provozuje rodina Miloše Formana dodnes.</p>
</div>
<div class="span6"><a data-lightbox-gallery="gallery" class="galleryPhoto" href="/vylety"> <img width="250" src="/theme/pensionrut/img/vylety.jpg" /> </a>
<h4><a href="/vylety"> Pension RUT - výlety </a></h4>
<p>Staré Splavy - Rodiče slavného režiséra byli průkopníky turismu u Máchova jezera, postavili tu první český pension. Rodinný klenot na břehu jezera provozuje rodina Miloše Formana dodnes.</p>
</div>
</div>
<hr />
<p><iframe width="585" height="330" src="https://www.youtube.com/embed/6IvSBZZvMW8?rel=0" style="margin: 10px; margin-bottom: 0;" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>	</div>
<div>

</div>
        </div>

        <!-- Aktuality
          ============================== -->

          <div class="span4">
            <h3>Aktuality<small> od Máchova jezera</small></h3>
            <div style="height: 2px"></div>
            <!-- <behold-widget feed-id="gfHbECjUaFHjz0idR6y7"></behold-widget> -->
            <behold-widget feed-id="CvncMIYMk2n1PeSj4r20"></behold-widget>
            <div style="height: 5px"></div>
            <h3>Máchovo jezero <small>počasí
            </small></h3>
           <div class="weather_info">
	     <p class="weather-col"><img title="déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>čtvrtek</strong> <strong>23 říj</strong> </span><span class="info"><span>Min:&nbsp;8°C</span> <span>Max:&nbsp;16°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>pátek</strong> <strong>24 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;9°C</span></span></p><p class="weather-col"><img title="slabý déšť" src="https://openweathermap.org/img/wn/10d@2x.png" /><span class="date"><strong>sobota</strong> <strong>25 říj</strong> </span><span class="info"><span>Min:&nbsp;5°C</span> <span>Max:&nbsp;8°C</span></span></p>
           </div>
	  </div>
        </div>
      </div>
    </div>
</Layout>