---
import Layout from "../layouts/Layout.astro";
import { ROUTES } from "../config/routes";
---

<Layout
  title="Kontakty Pension RUT | Rezervace | Staré Splavy Máchovo jezero"
  description="Kontaktní informace Pension RUT - Lázeňský Vrch 97, 471 63 Staré Splavy. Tel: +420 487 873 213, +420 724 042 508, Email: recepce@pensionrut.cz. GPS: 50°34'25.64''N, 14°39'6.52''E"
  keywords="kontakt Pension RUT, rezervace ubytování Máchovo jezero, telefon pension Staré Splavy, email recepce, adresa pension, GPS Staré Splavy, jak se dostat"
>
  <!-- Schema.org Breadcrumb markup -->
  <script type="application/ld+json" slot="head">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Hlavní stránka",
          "item": "https://www.pensionrut.cz/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Kontakty",
          "item": "https://www.pensionrut.cz/kontakty"
        }
      ]
    }
  </script>

  <div id="crumbs">
    Právě se nacházíte: <a href={ROUTES.home}>Hlavní stánka</a> / <a
      href={ROUTES.kontakty}>Kontakty</a
    >
  </div>

  <h2>Pension RUT kontaktní informace</h2>

  <script type="text/javascript">
    function initialize() {
      var center = new google.maps.LatLng(
        50.58707513286003,
        14.638432025909424
      );
      var myOptions = {
        zoom: 14,
        center: center,
        scrollwheel: false,
      };
      var map = new google.maps.Map(document.getElementById("map3"), myOptions);
      map.setMapTypeId(google.maps.MapTypeId["TERRAIN"]);

      var beachMarker = new google.maps.Marker({
        position: center,
        map: map,
      });
    }
  </script>

  <div class="mapcliping">
    <div id="map3" style="width:620px; height:200px"></div>
    <script
      type="text/javascript"
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyCZcO7TRAoI0li3roah9_d6cSbBCuCHNJ0&callback=initialize"
    ></script>
  </div>

  <div class="contents">
    <div class="row-fluid">
      <div class="span6">
        <h4>Adresa</h4>
        <table>
          <tbody>
            <tr>
              <td><b>Pension Rut Formanovi</b></td>
            </tr>
            <tr>
              <td>Lázeňský Vrch 97</td>
            </tr>
            <tr>
              <td>471 63, Staré Splavy</td>
            </tr>
            <tr>
              <td><b>GPS:</b> 50°34' 25.64'' N, 14°39' 6.52'' E</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <h4>Kontaktní informace</h4>
        <table>
          <tbody>
            <tr>
              <td><br /><b>Tel:</b> +420 487 873 213</td>
            </tr>
            <tr>
              <td><b>Tel:</b> +420 724 042 508</td>
            </tr>
            <tr>
              <td>
                <b>Email:</b>
                <a href="mailto:recepce@pensionrut.cz">recepce@pensionrut.cz</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span12">
        <p class="claim">Pension je v provozu od Velikonoc do listopadu</p>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"
  ></script>
  <script
    src="https://www.google.com/recaptcha/api.js?render=6LcQvLkkAAAAAGpaAsyC8pbql0ji3UkAr73gFSDS"
  ></script>

  <div id="form-1">
    <form
      action="/form/forms/sendform"
      class="ajax-form"
      data-action="/form/forms/send/1"
      id="FormSendformForm"
      method="post"
      accept-charset="utf-8"
    >
      <div style="display:none;">
        <input type="hidden" name="_method" value="POST" />
      </div>
      <fieldset>
        <legend>Kontaktní formulář</legend>
        <div class="input text">
          <label for="FormJmenoAPrijmeni1">Jméno a příjmení:</label>
          <input
            name="data[Form][Jmeno_a_prijmeni1]"
            type="text"
            placeholder="Jméno a příjmení"
            required="1"
            id="FormJmenoAPrijmeni1"
          />
        </div>
        <div class="input text">
          <label for="FormMailfrom">E-mail:</label>
          <input
            name="data[Form][mailfrom]"
            type="text"
            placeholder="E-mail"
            required="1"
            id="FormMailfrom"
          />
        </div>
        <div class="input text">
          <label for="FormTelefoniCislo20">Telefoní číslo:</label>
          <input
            name="data[Form][Telefoni_cislo20]"
            type="text"
            placeholder="Telefoní číslo"
            id="FormTelefoniCislo20"
          />
        </div>
        <div class="input textarea">
          <label for="FormVaseZprava3">Vaše zpráva:</label>
          <textarea
            name="data[Form][Vase_zprava3]"
            cols="30"
            rows="6"
            id="FormVaseZprava3"></textarea>
        </div>
        <script type="text/javascript" src="/js/form.js"></script>
      </fieldset>
      <input
        type="hidden"
        name="data[Form][g-recaptcha-response]"
        id="g-recaptcha-response"
      />
      <div class="submit">
        <input class="btn btn-large" type="submit" value="Odeslat" />
      </div>
    </form>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {});
  </script>
  <script is:inline>
    if (typeof grecaptcha !== "undefined") {
      grecaptcha.ready(function () {
        grecaptcha
          .execute("6LcQvLkkAAAAAGpaAsyC8pbql0ji3UkAr73gFSDS", {
            action: "submit",
          })
          .then(function (token) {
            const element = document.getElementById("g-recaptcha-response");
            if (element) {
              element.value = token;
            }
          });
      });
    }
  </script>
</Layout>
