---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka</a> / <a href="/okoli">Okolí</a>
  </div>

  <div class="contents">
    <h2>Okolí pensionu RUT</h2>
    <p>
      <a
        data-lightbox-gallery="gallery"
        class="galleryPhoto lightbox pull-left"
        href="/theme/pensionrut/img/uploads/thumb/large/bezdez-0.jpg"
      >
        <img src="/theme/pensionrut/img/uploads/thumb/medium/bezdez-0.jpg" width="250" />
      </a>
      Idylická krajina <b>Máchova jezera</b> nabízí pěší <b>procházky</b>, túry, <b>cyklistické trasy</b> a výlety do <b
        >zajímavých míst</b
      > – hrady <b>Bezděz</b>, <b>Houska</b> a <b>Kokořín</b>, zřícenina <b>Ralsko</b>, skalní město <b>Sloup</b>,
      zámky <b>Lemberg</b> a <b>Zákupy</b> či městečko <b>Doksy</b> aj.
    </p>
    <p>
      Ve <b>Starých Splavech</b> se nachází vhodné podmínky pro volný čas – vodní sporty (pouze zákaz motorových
      lodí), sportovní rybolov (rybník v blízkosti jezera), krytý bazén, <b>tenisový kurt</b>, minigolf, jízda na
      koni.
    </p>
    <p>
      Množství <b>pískovcových útvarů</b> je rájem pro děti i horolezce. Písku vděčí i <b>okolí pensionu</b> za
      rychlé vsáknutí letních dešťů, suché lesní cesty a téměř žádný výskyt nepříjemného hmyzu.
    </p>
  </div>

  <h2>Okolí - Máchovo jezero</h2>
  <div class="photoGallery">
    <a href="/theme/pensionrut/img/uploads/thumb/large/bezdez-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/bezdez-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/jezero-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/jezero-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/parnik_Hynek-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/parnik_Hynek-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/plaz-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/plaz-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_4982.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_4982.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/okoli-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/okoli-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_5030.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_5030.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_4804.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_4804.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/pohled_z_okna-0.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/pohled_z_okna-0.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_4809.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_4809.jpg" alt="" /></a>
  </div>
</Layout>
