---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka</a> / <a href="/regata-rut-classic">Regata RUT Classic</a>
  </div>

  <div class="contents">
    <h2>Regata Rut Classic</h2>
    <p class="claim">
      Kamil Kolesa a Adam Forman se v roce 2010 rozhodli uspořádat závod klasických dřevěných plachetnic – veteránů.
      Pohár Withe Queen.
    </p>
    <p>
      Oba měli dva jolové křižníky – White Queen a Racka – dva oldtimery, dvě dřevěné lodě! Dobrý závod potřebuje
      pořádný večírek, medaile a pohár. To vše pánové měli. A tak se odstartovaly závody, společenská událost, která
      měla všechny předpoklady stát se zábavnou akcí uprostřed léta, která nadchne jachtaře i návštěvníky a obyvatele
      Máchova jezera.
    </p>
    <p>
      V roce 2013 se z jednodenního závodu stala dokonce čtyřdenní akce a tak Pohár Withe Queen navštívilo až sto
      lidí, německá televizní stanice ARD i třeba prázdninový reportér Lubomír Smatana s přímým vstupem do
      Radiožurnálu.
    </p>
    <p>
      <img
        width="300"
        height="159"
        src="/theme/pensionrut/img/uploads/regata-2015.jpg"
        style="margin: auto; display: block;"
      />
    </p>
    <p class="claim">
      Desáty ročník společenské akce Regaty Rut Classic se bude konat v termínu od pátku 28. 6. do neděle 30. 6.
      Hlavní závod Withe Queen Challenge se tradičně pojede v neděli 30. 6. 2024
    </p>
    <ul>
      <li>Pátek v odpoledních hodinách vykládání lodí na vodu</li>
      <li>
        Večerní jízda osvětlených plavidel po jezeře se zakončením v Jachtklubu Staré Splavy, kde bude probíhat noční
        párty s občerstvením a tancem
      </li>
      <li>Sobota rozjížďky</li>
      <li>
        Sobota od 20 hodin slavnostní zahájení poháru Withe Queen na terasách pensionu RUT Formanovi s občerstvením a
        živou hudbou
      </li>
      <li>Neděle kolem 11 hodiny start poháru Withe Queen ze zátoky ve Starých Splavech</li>
      <li>Odpoledne vyhlášení výsledků a společenský život v Jachtklubu Máchova jezera ve Starých Splavech</li>
    </ul>
    <div class="row-fluid">
      <div class="span3">
        <p><strong>Pořadatelé:</strong></p>
        <ul class="unstyled">
          <li>Kamil Kolesa</li>
          <li>Adam Forman</li>
        </ul>
        <p><strong>Spolupořadatelé:</strong></p>
        <ul class="unstyled">
          <li>Pension RUT Formanovi</li>
          <li>Jachtklub Máchova jezera</li>
        </ul>
      </div>
      <div class="span3">
        <p><strong>Organizační tým:</strong></p>
        <ul class="unstyled">
          <li>Tereza Šťastná</li>
          <li>Tomáš Šťastný</li>
          <li>Martin Vydra</li>
          <li>Kamil Kolesa</li>
          <li>Ladislav Mendík</li>
          <li>Adam Forman</li>
        </ul>
      </div>
      <div class="span3">
        <p><strong>Fotografové:</strong></p>
        <ul class="unstyled">
          <li>Jan Procházka</li>
          <li>Antonín Koubek</li>
          <li>Leopold Vydra</li>
        </ul>
        <p><strong>Grafik:</strong></p>
        <ul class="unstyled">
          <li><span>Lukáš Rendl</span></li>
        </ul>
      </div>
      <div class="span3">
        <p><strong>Kronikář:</strong></p>
        <ul class="unstyled">
          <li>Václav Škába</li>
        </ul>
        <p><strong>Rozhodčí:</strong></p>
        <ul class="unstyled">
          <li>Lída Mendíková</li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Regata Rut Classic - Fotogalerie</h2>
  <div class="photoGallery">
    <a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9409.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9409.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9443.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9443.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9469.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9469.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9474.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9474.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9405.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9405.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9401_Vltava.jpg" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9401_Vltava.jpg" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9445.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9445.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9455.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9455.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9473.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9473.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9447.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9447.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9491.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9491.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9510.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9510.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9535.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9535.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9347.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9347.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9393.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9393.JPG" alt="" /></a><a href="/theme/pensionrut/img/uploads/thumb/large/DSC_9498.JPG" class="galleryPhoto lightbox" data-lightbox-gallery="gallery"><img src="/theme/pensionrut/img/uploads/thumb/small/DSC_9498.JPG" alt="" /></a>
  </div>
</Layout>
