---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

// Import obrázků
import hradBezdez from '../images/vylety/hrad-bezdez.jpg';
import hradHouska from '../images/vylety/hrad-houska.jpg';
import zamekLemberk from '../images/vylety/zamek-lemberk.jpg';
import zamekZakupy from '../images/vylety/zamek-zakupy.jpg';
---

<Layout>
  <div id="crumbs">
    Právě se nacházíte: <a href="/">Hlavní stánka</a> / <a href="/vylety">Výlety</a>
  </div>

  <div class="contents">
    <h2>Výlety a památky v okolí Máchova jezera</h2>

    <h3>Hrad Bezděz</h3>
    <p>
      <Image
        src={hradBezdez}
        alt="Hrad Bezděz"
        width={250}
        widths={[250, 500]}
        sizes="250px"
        format="webp"
        class="pull-left"
      />
      Královský hrad Bezděz je jednou z našich nejvýznamnějších gotických památek. Návštěvníci si mohou prohlédnout
      královský palác s unikátní kaplí a množstvím gotických architektonických detailů, purkrabský palác a další
      části hradu. Přístupná je také Velká věž s rytířskou síní v nejvyšším podlaží a s jedinečnou vyhlídkou na široké
      okolí.
    </p>
    <p>
      Hrad Bezděz byl postaven v 13. století jako královský hrad a v minulosti významně zasahoval do českých dějin.
      Bezděz představuje nejvyspělejší stupeň ve vývoji hradů vůbec. Díky velmi těžké přístupnosti nebyl v minulosti
      výrazněji přestavován. Bezděz leží na vrcholu kopce vysokého 604 metrů, z jeho 35 m vysoké věže je krásný
      kruhový výhled do dalekého okolí. Za pěkného počasí jsou vidět vrcholy Jizerských hor i Krkonoš.
    </p>

    <h3>Hrad Houska</h3>
    <p>
      <Image
        src={hradHouska}
        alt="Hrad Houska"
        width={250}
        widths={[250, 500]}
        sizes="250px"
        format="webp"
        class="pull-left"
      />
      Hrad Houska je díky původní gotické hradní kapli hodnocen jako středoevropský unikát.
    </p>
    <p>
      Hrad Houska byl zřejmě postaven pány z Dubé. Kolem roku 1590 byl přestavěn na renesanční zámek. Masivní stavba
      na čtyřúhelníkovém půdorysu s uzavřeným středním nádvořím má zachovaná gotická okénka. Na střeše je rozhledová
      vížka. Uvnitř hradní kaple najdeme unikátní nástěnné malby ze 14. a 16. století. Zajímavá je i Zelená světnice s
      malbami ze 16. století a rytířský salónek. Houska je jeden z nejlépe dochovaných královských hradů Přemysla
      Otakara II. Hradní kaple stojí podle legendy přímo nad bránou do pekla. Ve všední dny mimo hlavní letní sezónu
      se budou moci návštěvníci podívat do nově zpřístupněného Předpeklí!
    </p>

    <h3>Vodní hrad Lipý</h3>
    <p>
      Původní vodní hrad Lipý pochází hrad ze 13. století.<br />
      Nejznámějším držitelem hradu byl Jindřich z Lipé. Do poloviny 17. století na hradě sídlili Berkové z Dubé, kteří
      jej v 16. století přestavěli na renesanční zámek s dvoupatrovým palácem. Později však byl zámek opuštěn a v roce
      1957 stržen. Z původní stavby se dochovala jen zřícenina se zachovanými sklepy, částí hradního zdiva a 2
      brány.<br />
      V současné době se na hradě konají různé kulturní akce, pašijové hry a další.
    </p>

    <h3>Zámek Lemberg</h3>
    <p>
      <Image
        src={zamekLemberk}
        alt="Zámek Lemberg"
        width={250}
        widths={[250, 500]}
        sizes="250px"
        format="webp"
        class="pull-left"
      />
      Lemberk byl původně strážním pomezním hradem na Žitavské obchodní stezce. Z původní podoby se zachovala pouze
      válcová věž, ostatní části překryly renesanční a barokní přestavby.
    </p>
    <p>
      Zámek Lemberk vznikl přestavbou středověkého hradu, na němž žila sv. Zdislava z Lemberka. Uvnitř zámku se
      největší pozornosti těší kaple, hodovní síň s vzácným kazetovým stropem a malovanými výjevy z Ezopových bajek,
      vrchnostenská kancelář s trezorem z počátku 19. století a černá kuchyně. Od roku 2010 je prohlídka obohacena o
      zbrojnici a tzv. liebigovské pokoje, které připomínají bydlení významné textilní průmyslovnické rodiny na dnes
      nepřístupném zámku Nový Falkenburk na přelomu 19. a 20. století. Příležitostně se otevírá také clam-gallasovské
      apartmé, v němž mohou návštěvníci vidět postup restaurátorských prací i průběh zařizování pokojů historickým
      nábytkem.V blízkosti zámku se nachází barokní zahrada či tzv. Zdislavina studánka.
    </p>

    <h3>Zámek Zákupy</h3>
    <p>
      <Image
        src={zamekZakupy}
        alt="Zámek Zákupy"
        width={250}
        widths={[250, 500]}
        sizes="250px"
        format="webp"
        class="pull-left"
      />
      Rozlehlý zámek sloužil ve druhé polovině 19. století jako letní rezidence bývalého rakouského císaře Ferdinanda
      I.
    </p>
    <p>
      Na místě menší gotické tvrze nechal Zdislav Berka v polovině 16. století postavit nový zámek. Ten postupně
      přecházel z majitele na majitele a v 70.letech 17. století byl přestavěn v barokním slohu. V přízemí je
      zajímavá kaple svatého Františka z Assissi a ve 2. poschodí adaptované barokní prostory pro odstoupivšího
      rakouského císaře Ferdinanda.Všechny interiéry mají luxusní zařízení a jsou vyzdobeny nástropními malbami od
      Josefa Navrátila. Raritou je zachovaný osobní výtah z roku 1870.Při prohlídce lze spatřit nejen apartmá císaře,
      ale i jídelnu či kapli, v níž se r. 1900 oženil následník rakouského trůnu František Ferdinand d´Este s
      hraběnkou Žofií Chotkovou.V zámeckém příkopu je chován medvěd brtník. K zámku přiléhá francouzská zahrada s
      geometricky sestříhanými keři a přírodně-krajinářský park.
    </p>

    <h3>Lidová architektura v okolí</h3>
    <p>
      Vesnická památková rezervace Žďár je tvořena souborem roubených stavení umístěných na návsi i v přilehlých
      ulicích. Jedná se o přízemní i patrové stavby z 18. a 19. století.
    </p>
    <p>
      V obci Sloup se nachází řada historicky cenných roubených, polozděných i zděných lidových domů, pocházejících
      většinou z konce 18. a 1. poloviny 19. století. Některé z nich mají kamenné vstupní portály, mansardové střechy
      a břidlicí obložené štíty. Malebná skupina roubených domů je v údolí přímo pod kostelem, kde stojí například
      patrový dům čp. 101 s mansardovou střechou a dům čp. 102 s letopočtem 1763 v kamenné veřeji. Zajímavý je také
      dům čp. 14 z roku 1821 se soškou sv. Jana Nepomuckého ve výklenku, dům čp. 78 z roku 1827, selské stavení čp.
      109 a řada dalších.
    </p>
    <p>
      V okolí obce Dubá se dochovala řada památek lidové architektury. Jedná se o roubená stavení v Dražejově,
      památkovou zónu Střezivojice a lidovou architekturu v osadě Nedvězí.
    </p>

    <h3>Roubená stavení v Dražejově</h3>
    <p>
      Obec Dražejov leží 3,5 km jižně od Dubé. Na návsi se dochovala roubená stavení z 19. století, která byla
      postavena po katastrofálním požáru vsi v roce 1832. Dále zde najdeme barokní kapli sv. Jana Nepomuckého.
    </p>

    <h3>Památková zóna Střezivojice</h3>
    <p>
      Jižně od Dubé leží obec Střezivojice, ve které najdeme velké množství roubené, hrázděné i zděné lidové
      architektury. Charakteristické jsou architektonické prvky jako pavlače či podstávky. Mnoho domů má i přesnou
      dataci, většina z nich pochází z období kolem poloviny 18. století. Stavby se většinou dochovaly v původní
      podobě s minimálním narušením, proto byla obec označena jako památková zóna.<br />
      <b>Poloha:</b> asi 5 km jižně od obce Dubá
    </p>

    <h3>Lidová architektura v osadě Nedvězí</h3>
    <p>
      Na úpatí vrchu Nedvězí se nachází stejnojmenná osada se zachovalými ukázkami lidové architektury.<br />
      <b>Poloha:</b> 3,5 km jihozápadně od Dubé
    </p>

    <p>
      <br />
      Kompletní přehledné informace o zajímavostech v okolí na <a href="http://www.ceskolipsko.info/"
        >www.ceskolipsko.info</a
      >
    </p>
  </div>
</Layout>
