
<!DOCTYPE HTML>
<html>
<head>
  <title>
    Máchovo jezero ubytování - Pension RUT, Máchovo jezero
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="ib0MMyZ0nMYt6ogb31WhmOCDK3x9BZQOno3zaWLrUIA" />
  <meta name="keywords" content="Ubytování Máchovo jezero, dovolená, Staré Splavy" /><meta name="description" content="Pension se nachází v lázeňském městečku Staré Splavy, které jsou známé ozdravným vzduchem. Jedinčnost objektu je mimo jiné dána jeho romantickým umístěním nad Máchovým jezerem..." />
  <link rel="stylesheet" type="text/css" href="/theme/pensionrut/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/theme/pensionrut/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="/theme/pensionrut/css/style.min.css" />
<script type="text/javascript" src="/theme/pensionrut/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/theme/pensionrut/js/scripts.min.js"></script>
</head>
<body>

  <!-- Navbar
  ============================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="brand">
          <img src="/theme/pensionrut/img/mini-logo.png" alt="Pension RUT" />
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav"><li><a href="/">Pension RUT</a></li><li><a href="/historie">Historie</a></li><li><a href="/ubytovani">Ubytování</a></li><li><a href="/okoli">Okolí</a></li><li><a href="/vylety">Výlety</a></li><li><a href="/cenik">Ceník</a></li><li><a href="/fotogalerie">Fotogalerie</a></li><li><a href="/kontakty">Kontakty</a></li><li><a href="/regata-rut-classic">Regata RUT Classic</a></li></ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Header
  ============================== -->
  <header id="overview" class="">
    <div class="container">

      <div class="row-fluid">
        <div class="span6">
          <a href="/">
            <img src="/theme/pensionrut/img/header-logo.jpg" alt="Header Logo" width="435" height="82" />
          </a>
        </div>
        <div class="span6">
          <img src="/theme/pensionrut/img/header-text.jpg" alt="Header Text" width="272" height="45" class="headertext" />
        </div>
      </div>
    </div>
  </header>

  <!-- Slider
  ============================== -->

  <div class="slider">
    <div id="leftBarArrow" class="barArrow" ></div>
    <div id="rightBarArrow" class="barArrow" ></div>
    <div class='iosSlider'>
      <div class='islider'>
        <div class='item'>
          <div class='caption'>
            <span><a href="/"><strong>Pension RUT</strong> | Ubytování u Máchova jezera</a></span>
            <div class="bg"></div>
          </div>
          <a href="/"><img src="/theme/pensionrut/img/galerie/terasa.jpg" alt="" /></a>
        </div>
        <div class='item'>
          <div class='caption'>
            <span><a href="/historie"><strong>Historie</strong> | Pensionu RUT a rodiny Formanů</a></span>
            <div class="bg"></div>
          </div>
          <a href="/historie"><img src="/theme/pensionrut/img/galerie/rok 1926.jpg" alt="" /></a>
        </div>
        <div class='item'>
          <div class='caption'>
            <span><a href="/ubytovani"><strong>Ubytování</strong> | Pension RUT ve Starých Splavech</a></span>
            <div class="bg"></div>
          </div>
          <a href="/ubytovani"><img src="/theme/pensionrut/img/galerie/pokoj 14.jpg" alt="" /></a>
        </div>
        <div class='item'>
          <div class='caption'>
            <span><a href="/okoli"><strong>Okolí</strong> | Krásná krajina Máchova jezera</a></span>
            <div class="bg"></div>
          </div>
          <a href="/okoli"><img src="/theme/pensionrut/img/galerie/okoli.jpg" alt="" /></a>
        </div>
        <div class='item'>
          <div class='caption'>
            <span><a href="/regata-rut-classic"><strong>Regata RUT Classic</strong> | Pohár Withe Queen</a></span>
            <div class="bg"></div>
          </div>
          <a href="/regata-rut-classic"><img src="/theme/pensionrut/img/galerie/rut-classic.jpg" alt="" /></a>
        </div>
        <div class='item'>
          <div class='caption'>
            <span><a href="/vylety"><strong>Výlety</strong> | Poznejte krásu Máchova jezera</a></span>
            <div class="bg"></div>
          </div>
          <a href="/vylety"><img src="/theme/pensionrut/img/galerie/bezdez.jpg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>

  <slot />

  <!-- Footer
  ============================== -->
  <footer >
    <div class="container">
      <div class="row-fluid">
        <div class="span8">
          <p>Copyright © 2013 Pension RUT - Nejstarší pension na břehu Máchova jezera</p>
        </div>
        <div class="span4">
          <p>Created with pleasure by <a href="http://ceda.splavy.com">Ceda_</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533e911e07029bdb"></script> -->
  <script type="text/javascript">
    var seznam_retargeting_id = 14680;
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6824482-43', 'pensionrut.cz');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript"  src="//c.imedia.cz/js/retargeting.js"></script>
  <script>
    if ('noModule' in HTMLScriptElement.prototype) {
      const d=document,s=d.createElement('script');s.type='module';
      s.src='https://w.behold.so/widget.js';d.body.appendChild(s);
    }
  </script>

</body>
</html>
